{% extends "security/base.html.twig" %}

{% block content %}
    <main class="login">
    <div class="container">
        <div class="login-page">
            <div class="logo">
                <a href="{{ path('home') }}"><img {% if (setting.getSetting('logo') !='') %}
                    src="{{ asset(settings.getSetting('logo')) }}"
                    {% else %}
                    src="{{ asset('images/logo.png')}}"
                {% endif %}></a>
            </div>
            <div class="login-box">
            <p>لینک تغییر رمز عبور برای شماره موبایل شما ارسال شد ، در صورت عدم دریافت پیامک بر روی <a href="{{ path('app_forgot_password_request') }}">  اینجا </a> کلیک کنید .</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

